
@{
    ViewBag.Title = "Index";
}
<link href="~/Assets/dist/css/loadding.min.css" rel="stylesheet" />
<link href="~/Assets/dist/css/loading.css" rel="stylesheet" />
<div class="col-sm-12 row">
    <div class="col-7 background-light">
        <h2 class="pl-2 mb-1">
            <i class="far fa-clone"></i>
            @ViewBag.dbc.sTenDot
        </h2>
        <div class="col-12">
            <h5 style="font-family:roboto;">Khóa công khai</h5>
            <textarea class="miEditor publicKey" style="font-size: 12px;" disabled>@ViewBag.public_key</textarea>
        </div>
        <div class="col-12">
            <h5 style="font-family:roboto;">Khóa riêng tư</h5>
            <textarea class="miEditor privateKey" style="font-size: 12px;"></textarea>
        </div>
        <div class="col-12 pt-4">
            <div class="btn btn-primary ld-ext-right kiemtrakhoa">
                Kiểm tra khóa
                <div class="ld ld-ring ld-spin"></div>
            </div>
            @if (ViewBag.voted)
            {
                <button class="btn btn-info disabled">Bạn đã bỏ phiếu</button>
            }
            else
            {
                <div class="btn btn-primary ld-ext-right disabled" id="confirmChange">
                    Xác nhận
                    <div class="ld ld-ring ld-spin"></div>
                </div>
                //<button class="btn btn-info disabled" id="">Xác nhận</button>
            }
        </div>
    </div>
    <div class="col-5 form-group-lg">
        <h2>
            Chọn ứng cử viên của bạn
        </h2>
        <div class="col-12">
            <br />
        </div>
        @foreach (var elector in ViewBag.ElectorList)
        {
            <div class="col-12">
                <div class="custom-control custom-@ViewBag.dbc.type">
                    <input class="custom-control-input custom-select-lg" type="@ViewBag.dbc.type" id="@elector.ma_ungcuvien" value="@elector.ma_ungcuvien" name="elector">
                    <label for="@elector.ma_ungcuvien" id="@elector.ma_ungcuvien" class="custom-control-label font-weight-normal">
                        @elector.sHoten &nbsp;
                    </label>
                    <button id="@elector.ma_ungcuvien" title="Chi tiết thông tin ứng cử viên" class="btn btn-info btn-sm name_elector" data-toggle="modal" data-target="#electorModal" style="padding: 0px 8px 1px 8px;">
                        <i class="fas fa-info fa-xs"></i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>
<!-- profile elector-->
<div class="modal" id="electorModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin của ứng cử viên</h4>
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    <i class="far fa-arrow-alt-circle-left"></i> &nbsp; Quay lại
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-sm-12 form-group row">
                    <label class="col-sm-2 col-form-label font-weight-normal">Họ tên:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="newElectorName" disabled>
                    </div>
                </div>
                <div class="col-sm-12 form-group row">
                    <label class="col-sm-2 col-form-label font-weight-normal">Giới tính:</label>
                    <div class="col-sm-10 input-group">
                        <select style="-webkit-appearance:none;" class="custom-select" id="newElectorGender" disabled>
                            <option value="Nam">Nam</option>
                            <option value="Nu">Nữ</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 form-group row">
                    <label class="col-sm-2 col-form-label font-weight-normal">Ngày sinh:</label>
                    <div class="col-sm-10 input-group">
                        <input class="form-control" id="newElectorNs" name="newElectorNs" type="text" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-week"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 form-group row">
                    <label class="col-sm-2 col-form-label font-weight-normal">Địa chỉ:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="newElectorAddress" disabled>
                    </div>
                </div>
                <div class="col-sm-12 form-group row">
                    <label class="col-sm-2 col-form-label font-weight-normal">Email:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="newElectorEmail" disabled>
                    </div>
                </div>
                <div class="col-sm-12 form-group row">
                    <label class="col-sm-2 col-form-label font-weight-normal">Mô tả:</label>
                    <div class="col-sm-10">
                        <textarea style="resize:none;" class="form-control" id="newElectorNote" disabled> </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Assets/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        bsCustomFileInput.init();
    });
</script>
<script>
    $(document).ready(function () {
        var kt = 1;
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
        $('input[name=elector]').on('change', function () {
            if ($('input[name=elector]:checked').length > 0) {
                $("#confirmChange").removeClass("disabled");
            }
            else {
                $("#confirmChange").addClass("disabled");
            }
        });

        $(".name_elector").on('click', function () {
            data = {
                id: $(this).attr('id')
            }
            $.ajax({
                url: window.location.href + "/get_elector",
                data: data,
                type: "POST",
            }).then(function (result) {
                if (result) {
                    $('#newElectorName').val(result.sHoten);
                    $('#newElectorGender').val(result.bGioitinh == 'Nam' ? 'Nam' : 'Nu');
                    $('#newElectorNs').val(result.dNgaysinh);
                    $('#newElectorAddress').val(result.sEmail);
                    $('#newElectorEmail').val(result.sDiachi);
                    $('#newElectorNote').val(result.sGhichu);
                }
            });
        });

        $('#confirmChange').on('click', function () {
            if (confirm("Bạn chắc chắn với lựa chọn của mình?")) {
                $('#confirmChange').html('Xin chờ <div class="ld ld-ring ld-spin"></div>');
                $(this).addClass("disabled");
                $('#confirmChange').addClass('running');
                var list_ID = $('input[name=elector]:checked');
                var private_key = $('.privateKey').val();
                var _arrayID = [];
                for (let i = 0; i < list_ID.length; i++) {
                    _arrayID[i] = $(list_ID[i]).val();
                }
                var arrayID = JSON.stringify(arrayID);
                $.ajax({
                    url: window.location.href + "/add_vote",
                    type: 'POST',
                    data: { arrayID: _arrayID, _private_key: private_key },
                    success: function (result) {
                    
                        setTimeout(function () {
                            if (result == "saikhoa_riengtu") {
                                Toast.fire({
                                    type: 'error',
                                    title: ' Khóa riêng tư không khớp!',
                                });
                                $('#confirmChange').text('Xác nhận');
                            }
                            else if (result != 'them_thatbai'){
                                //Toast.fire({
                                //    type: 'success',
                                //    title: 'Bầu cử thành công!',
                                //});
                                Swal.fire({
                                    type: 'success',
                                    title: 'Thành công',
                                    text: 'Bầu cử thành công!!',
                                    confirmButtonText: 'Ok',
                                })
                                //.then(function () {
                                //    window.location.href = "/";
                                //})
                                $('#confirmChange').text('Bạn đã bỏ phiếu');
                            }
                            if (result == "them_thatbai") {
                                $('#confirmChange').text('Xác nhận');
                            }
                            $('#confirmChange').removeClass('running');
                            $('#confirmChange').addClass('disabled');
                        }, 2000);
                    }
                });
            }
            else {
                return false;
            }
        });

        $('.kiemtrakhoa').on('click', function () {
            if (kt == 1) {
                $('.kiemtrakhoa').html('Xin chờ <div class="ld ld-ring ld-spin"></div>');
                $('.kiemtrakhoa').addClass("disabled");
                $('.kiemtrakhoa').addClass('running');
                $.ajax({
                    url: window.location.href + "/kiemtrakhoa",
                    type: 'POST',
                    data: { private_key: $('.privateKey').val() },
                    success: function (result) {
                        setTimeout(function () {
                            if (result == 'chinhxac') {
                                Toast.fire({
                                    type: 'success',
                                    title: ' Khóa riêng tư chính xác!',
                                });
                                $('.kiemtrakhoa').text('Đã xác thực');
                                $('.kiemtrakhoa').removeClass('running');
                                $('.kiemtrakhoa').removeClass('kiemtrakhoa');
                                kt = 2;
                            }
                            else{
                                setTimeout(function () {
                                    Toast.fire({
                                        type: 'error',
                                        title: ' Khóa riêng tư không khớp!',
                                    });
                                    $('.kiemtrakhoa').html('Kiểm tra khóa <div class="ld ld-ring ld-spin"></div>');
                                    $('.kiemtrakhoa').removeClass('running');
                                    $('.kiemtrakhoa').removeClass('disabled');
                                }, 2000);
                            }
                        }, 2000);
                    },
                    error: function () {
                        setTimeout(function () {
                            Toast.fire({
                                type: 'error',
                                title: ' Khóa riêng tư không khớp!',
                            });
                            $('.kiemtrakhoa').html('Kiểm tra khóa <div class="ld ld-ring ld-spin"></div>');
                            $('.kiemtrakhoa').removeClass('running');
                            $('.kiemtrakhoa').removeClass('disabled');
                        }, 2000);
                    }
                });
            }
        });

    });
</script>


<style>
    .miEditor {
        -moz-appearance: textfield-multiline;
        -webkit-appearance: textarea;
        border: 1px solid gray;
        font: medium -moz-fixed;
        font: -webkit-small-control;
        height: 200px;
        max-height: 140px;
        min-height: 140px;
        overflow: auto;
        padding: 2px;
        resize: both;
        width: 100%;
        resize: vertical;
        margin: 0 auto;
        border-radius: 5px;
        border-color: lightgrey;
    }
</style>