
@{
}
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-md-8">
            <h2>@ViewBag.dotBauCu.sTenDot</h2>
        </div>
        <div class="col-md-4 text-right">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                Tham gia bỏ phiếu
            </button>
            <button id="addElector" type="button" class="btn btn-success">
                Thêm cử tri
            </button>
        </div>
        <div class="col-md-8">
            <p>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                Thời gian bỏ phiếu: @ViewBag.dotBauCu.dThoiGianBD đến @ViewBag.dotBauCu.dThoiGianKT

            </p>
        </div>
        <div class="col-md-4 text-right">
            <p class="text ">
                Trạng thái:
                <span class="text-@ViewBag.ES.icon">
                    @ViewBag.ES.tenTrangThaiDotBauCU
                </span>
            </p>
        </div>
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-body p-0">
                    <div class="mailbox-read-message">
                        @Html.Raw(ViewBag.dotBauCu.sNoiDung)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Phiếu bầu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Đây là cái phiếu
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Xác nhận</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#addElector").on("click", function () {
            console.log('wuwuw');
        });
    });
</script>