
@{
}
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-md-8">
            <h2>@ViewBag.dotBauCu.sTenDot</h2>
        </div>
        <div class="col-md-4 text-right">
            <button id="attendVoting" type="button" class="btn btn-info">
                Tham gia bỏ phiếu
            </button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newElectorModal" data-backdrop="static" data-keyboard="false">
                Thêm ứng cử viên
            </button>
        </div>
        <div class="col-md-8">
            <p>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                Thời gian bỏ phiếu: @ViewBag.dotBauCu.dThoiGianBD đến @ViewBag.dotBauCu.dThoiGianKT

            </p>
        </div>
        <div class="col-md-4 text-right">
            <p class="text ">
                Trạng thái:
                <span class="text-@ViewBag.ES.icon">
                    @ViewBag.ES.tenTrangThaiDotBauCU
                </span>
            </p>
        </div>
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-body p-0">
                    <div class="mailbox-read-message">
                        @Html.Raw(ViewBag.dotBauCu.sNoiDung)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center col-sm-12 row">
        <h3 class="col-sm-12">Danh sách ứng cử viên</h3>
        <div id="electorListParent" class="col-sm-12 row">
            @foreach (var elector in ViewBag.ElectorList)
            {
                <div class="col-sm-4 electorListChild">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@elector.sHoten</h3>
                            <p>@elector.bGioitinh</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user"></i>
                        </div>
                        <a onclick="showDetail(@elector.ma_ungcuvien)" class="small-box-footer" data-toggle="modal" data-target="#electorModal">
                            Thêm thông tin
                            <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- elector detail-->
<div class="modal" id="electorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin ứng cử viên</h4>
            </div>
            <div class="modal-body row">
                <div class="col-sm-12 row">
                    <p class="col-sm-6"> Họ tên ứng cử viên</p>
                    <p class="col-sm-6" id="ElectorModalName"></p>
                </div>
                <div class="col-sm-12 row">
                    <p class="col-sm-6"> Ngày sinh</p>
                    <p class="col-sm-6" id="ElectorModalNs"></p>
                </div>
                <div class="col-sm-12 row">
                    <p class="col-sm-6"> Địa chỉ</p>
                    <p class="col-sm-6" id="ElectorModalAddress"></p>
                </div>
                <div class="col-sm-12 row">
                    <p class="col-sm-6"> Email</p>
                    <p class="col-sm-6" id="ElectorModalEmail"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Xác nhận</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- add elector-->
<div class="modal" id="newElectorModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới ứng cử viên</h4>
            </div>
            <div class="modal-body row">
                <div class="col-sm-12 form-group row">
                    <label class="col-sm-2 col-form-label font-weight-normal">Họ tên ứng cử viên</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="newElectorName" placeholder="Nguyễn Văn XHF">
                    </div>
                    <span id="newElectorNameEmpty" class="text-center text-danger w-100">Bạn chưa điền đầy đủ họ tên ứng cử viên</span>
                    <span id="newElectorNameFalse" class="text-center text-danger w-100">Họ tên ứng cử viên chưa đúng định dạng</span>
                </div>
                <div class="col-sm-12 form-group row">
                    <label class="col-sm-2 col-form-label font-weight-normal">Giới tính</label>
                    <div class="col-sm-10 input-group">
                        <select style="-webkit-appearance:none;" class="custom-select" id="newElectorGender">
                            <option value="Nam">Nam</option>
                            <option value="Nu">Nữ</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 form-group row">
                    <label class="col-sm-2 col-form-label font-weight-normal">Ngày sinh</label>
                    <div class="col-sm-10 input-group">
                        <input class="form-control" id="newElectorNs" name="newElectorNs" type="text" onkeypress="changeDate()" />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-week"></i>
                            </span>
                        </div>
                    </div>
                    <span id="newElectorNsEmpty" class="text-center text-danger w-100">Bạn chưa điền Ngày sinh</span>
                    <span id="newElectorNsFalse" class="text-center text-danger w-100">Chưa đủ 18 tuổi</span>
                </div>
                <div class="col-sm-12 form-group row">
                    <label class="col-sm-2 col-form-label font-weight-normal">Địa chỉ</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="newElectorAddress">
                    </div>
                    <span id="newElectorAddressEmpty" class="text-center text-danger w-100">Bạn chưa điền Địa chỉ</span>
                </div>
                <div class="col-sm-12 form-group row">
                    <label class="col-sm-2 col-form-label font-weight-normal">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="newElectorEmail">
                    </div>
                    <span id="newElectorEmailEmpty" class="text-center text-danger w-100">Bạn chưa điền Email</span>
                    <span id="newElectorEmailFalse" class="text-center text-danger w-100">Email chưa đúng định dạng</span>
                </div>
                <div class="col-sm-12 form-group row">
                    <label class="col-sm-2 col-form-label font-weight-normal">Mô tả</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="newElectorNote"> </textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="addElector" type="button" class="btn btn-success">Xác nhận</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script>
    $(document).ready(function () {
        $('#newElectorNameEmpty').hide();
        $('#newElectorNsEmpty').hide();
        $('#newElectorAddressEmpty').hide();
        $('#newElectorEmailEmpty').hide();
        $('#newElectorEmailFalse').hide();
        $('#newElectorNsFalse').hide();
        $('#newElectorNameFalse').hide();
        $('#newElectorNs').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap'
        });
        $("#addElector").on("click", function () {
            let x = window.location.pathname.split('/')[2];
            let name = $("#newElectorName").val();
            let ns = $("#newElectorNs").val();
            let address = $("#newElectorAddress").val();
            let email = $("#newElectorEmail").val();
            let gender = $("#newElectorGender").val();
            let note = $("#newElectorNote").val();
            if (validateForm("name", name, $("#newElectorName"), "newElectorName") &&
                validateForm("address", address, $("#newElectorAddress"), "newElectorAddress") &&
                validateForm("email", email, $("#newElectorEmail"), "newElectorEmail") &&
                validateForm("date", ns, $("#newElectorNs"), "newElectorNs")) {
                $.ajax({
                    url: window.location.href + "/createElector",
                    type: "POST",
                    data: { dbcId: x, sHoten: name.trim(), dNgaysinh: ns, sDiachi: address.trim(), sEmail: email.trim(), bGioitinh: gender, sGhichu: note }
                }).then(function (result) {
                    if (result) {
                        clearModel();
                        alert("Thành công");
                        $('#newElectorModal').modal('hide');
                        $('.electorListChild').remove();
                        appendNewElectorList(result);
                    } else {
                        alert("Thất bại");
                    }
                });
            } else {
                alert("Thất bại");
            }
        });

        $("#attendVoting").on("click", function () {
            let x = window.location.pathname.split('/')[2];
            let url = window.location.origin + "/Voting/" + x
            window.location.href = url;
        });
    });

    function changeDate() {
        setTimeout(() => {
            const value = $("#newElectorNs").val();
            if (value && value.length === 8) {
                if (value.indexOf("-") === -1 && value.indexOf("/") === -1) {
                    const returnDate = replaceDate(value);
                    if (returnDate && returnDate.length > 0) {
                        $('#newElectorNs').datepicker('update', returnDate);
                        //const dateParts = returnDate.split("/");
                        //$("#newElectorNs").val(new Date(+dateParts[2], dateParts[1] - 1, +dateParts[0]));
                    }
                }
            }
        }, 200);
    }

    function showDetail(str) {
        let x = window.location.pathname.split('/')[2];
        $.ajax({
            url: window.location.href + "/getDetailElector",
            type: "POST",
            data: { selectedId: str, id: x },
            success: function (result) {
                $("#ElectorModalName").html(result.sHoten);
                $("#ElectorModalNs").html(result.dNgaysinh);
                $("#ElectorModalAddress").html(result.sDiachi);
                $("#ElectorModalEmail").html(result.sEmail);
            }
        });
    }

    function replaceDate(date) {
        date = date.toLowerCase();
        var patt = new RegExp(
            'q|w|e|r|t|y|u|i|o|p|a|s|d|f|g|h|j|k|l|z|x|c|v|b|n|m'
        );
        let returnDate = '';
        if (
            date.indexOf('-') === -1 &&
            date.indexOf('/') === -1 &&
            patt.test(date) === false
        ) {
            let day;
            let month;
            let year;
            if (date.length === 8) {
                day = date.substr(0, 2);
                month = date.substr(2, 2);
                year = date.substr(4, 4);
            } else if (date.length === 6) {
                day = date.substr(0, 2);
                month = date.substr(2, 2);
                year = date.substr(4, 2);
                if (parseInt(year, 0) < 50) {
                    year = parseInt('20' + year, 0);
                } else {
                    year = parseInt('19' + year, 0);
                }
            }
            if (parseInt(day, 0) > 31) {
                day = 30;
            }
            if (parseInt(month, 0) > 12) {
                month = 12;
            }
            if (parseInt(year, 0) > 3000) {
                year = 2020;
            }
            returnDate = day + '/' + month + '/' + year;
        } else {
            returnDate = date;
        }
        return returnDate;
    };

    function validateForm(code, str, obj, strName) {
        $('#newElectorEmailFalse').hide();
        $('#newElectorNsFalse').hide();
        $('#newElectorNameFalse').hide();
        let result = true;
        if (str == "") {
            $('#' + strName + 'Empty').show();
            obj.focus();
            result = false;
        } else {
            $('#' + strName + 'Empty').hide();
            if (code == "email") {
                var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (re.test(str)) {
                    $('#' + strName + 'False').hide();
                    result = true;
                } else {
                    $('#' + strName + 'False').show();
                    obj.focus();
                    result = false;
                }
            }
            if (code == "date") {
                let condition = moment().diff(moment(str + '', 'DD/MM/YYYY'), 'years');
                if (condition.toString().toLowerCase() == 'nan' || condition < 18) {
                    obj.focus()
                    $('#newElectorNsFalse').show();
                    result = false;
                } else {
                    $('#newElectorNsFalse').hide();
                    result = true;
                }
            }
            if (code == "name") {
                if (str.split(' ').length < 2) {
                    $('#newElectorNameFalse').show();
                    obj.focus();
                    result = false;
                } else {
                    $('#newElectorNameFalse').hide();
                    result = true;
                }
            }
        }
        return result;
    }

    function appendNewElectorList(list) {
        for (let i = 0; i < list.length; i++) {
            $("#electorListParent").append("<div id=\"electorListChild\" class=\"col-sm-4\"> <div class=\"small-box bg-success\"> <div class=\"inner\">"
                + "<h3>" + list[i].sHoten + "</h3>"
                + "<p>" + list[i].bGioitinh + "</p> </div> <div class=\"icon\"> <i class=\"fas fa-user\"></i> </div>"
                + "<a onclick=\"showDetail(" + list[i].ma_ungcuvien + ")\" class=\"small-box-footer\" data-toggle=\"modal\" data-target=\"#electorModal\"> Thêm thông tin <i class=\"fas fa-arrow-circle-right\"></i>"
                + "</a></div></div>");
        }
    }

    function clearModel() {
        $("#newElectorName").val('');
        $("#newElectorNs").val('');
        $("#newElectorAddress").val('');
        $("#newElectorEmail").val('');
        $("#newElectorGender").val('');
        $("#newElectorNote").val('');
    }
</script>